:root{
    --primary: black;
    font-family: "Rye", serif;
    h1 {
        letter-spacing: 0.1em
    }
}

@import "tailwindcss";

@theme {
    /* --font-display: "Rye", serif; */
    --color-primary: var(--primary);
}